:root {
  --will-display: block;
}
.logo {
  border: none;
  background-color: inherit;
  font-size: 2rem;
  margin-left: 1rem;
}
nav {
  height: 5rem;
  background-color: lightblue;
  margin-bottom: 1rem;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wishlist-icon {
  display: flex;
  font-size: 2rem;
  margin-right: 3rem;
  position: relative;
}
.wishlist-count {
  position: absolute;
  font-size: 1rem;
  left: 2rem;
}
.cart-icon {
  display: flex;
  font-size: 2rem;
  margin-right: 3rem;
  position: relative;
}
.cart-count {
  position: absolute;
  font-size: 1rem;
  left: 2.5rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-list {
  display: flex;
  flex-basis: 350px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 auto;
}
.product {
  position: relative;
  margin: 0.5rem;
}

.wish-product {
  position: relative;
}

.cart-button {
  display: var(--will-display);
  position: absolute;
  width: 100%;
  background-color: white;
  height: 2rem;
  top: 275px;
}
.wish-button {
  display: var(--will-display);
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
.remove-button {
  display: var(--will-display);
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  border-radius: 50%;
}

/* .cart-section {
  display: flex;
  flex-direction: column;
} */

@media only screen and (max-width: 768px) {
  .products-list {
    justify-content: center;
    align-items: center;
  }
}
