.logo {
  border: none;
  background-color: inherit;
  font-size: 2rem;
  margin-left: 1rem;
}
nav {
  height: 5rem;
  background-color: #9575cd;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0rem;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.routes-component {
  margin-top: 5rem;
}

.wishlist-icon {
  display: flex;
  font-size: 2rem;
  margin-right: 3rem;
  position: relative;
}
.wishlist-count {
  position: absolute;
  font-size: 1rem;
  left: 2rem;
}
.cart-icon {
  display: flex;
  font-size: 2rem;
  margin-right: 3rem;
  position: relative;
}
.cart-count {
  position: absolute;
  font-size: 1rem;
  left: 2.5rem;
}
.card-height {
  height: 430px;
  width: 300px;
}
.button-position {
  position: absolute;
  bottom: 0rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 auto;
  grid-area: products;
}
.product {
  position: relative;
  margin: 0.5rem;
}

.wish-product {
  position: relative;
}

.cart-button {
  display: block;
  position: absolute;
  width: 100%;
  background-color: white;
  height: 2rem;
  top: 275px;
}
.card-horizontal-shape {
  height: 300px;
  width: 600px;
}
.category-box {
  width: 300px;
  height: 120px;
  border: 2px solid black;
  border-radius: 5px;
}
.category-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.link-style {
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: black;
}
.carousal-container {
  padding: 0rem;
  margin: 0rem;
}
.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-div-container {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.products-list-cart {
  display: flex;
  flex-direction: column;
}
.cart-ul {
  display: flex;
  flex-direction: column;
}
.total-price-container {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  align-self: center;
  margin: 1rem;
}
.products-listing-page {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas: "filters products";
}
.filters-container {
  grid-area: filters;
  position: fixed;
}
.input-styled {
  width: 220px;
}
.label-tags{
  margin: 0.5rem;
  padding: 0.5rem;
}
.filter-heading{
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.error-text{
  color: #FF4500;
}

@media only screen and (max-width: 600px) {
  .products-list {
    justify-content: center;
    align-items: center;
  }
  .card-horizontal-shape {
    height: auto;
    width: auto;
  }
  .products-listing-page {
    display: flex;
    flex-direction: column;
  }
  .filters-container {
    position: relative;
    border: 1px solid black;
  }
}
